/* Custom styles to complement Tailwind CSS */

/* Add any custom animations or complex styles here that are difficult to achieve with Tailwind utilities */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s ease-out;
}

.text-muted-foreground {
  --muted-foreground: 220 8% 46%;
  color: hsl(var(--muted-foreground));
}

/* Add just to get the feel of full viewport height */
main {
  min-height: 98vh;
}
