@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom container media query for screens 1400px and wider */
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

